html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.wrapper{
	height: 100%;
	padding: 50px;
}
.block {
		margin: 0 0 20px 0;
}
.block__item {
}
.block__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.block__title:before,
.block__title:after{
	content: "";
	width: 10px;
	height: 1px;
	background-color: #000;

	position: absolute;
	top: 8px;
}
.block__title:before{
	left: 0;
	transform: rotate(40deg);
	transition: all 0.3s ease;
}
.block__title:after{
	left: 7.5px;
	transform: rotate(-40deg);
	transition: all 0.3s ease;
}
.block__text {
	padding: 10px 0 0 0;
	display: none;
}
.block__title.active:after,
.block__title.active:before{
	background-color: red;
}
.block__title.active:after{
	transform: rotate(40deg);
	transition: all 0.3s ease;
}
.block__title.active:before{
	transform: rotate(-40deg);
	transition: all 0.3s ease;
}